@model StartPoint.GameServer.Areas.BackOffice.Models.IconViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h4>Icon</h4>
<hr />

<partial name="_IconsListPartial" model="Model"/>

<div class="row">
    <div class="col-md-4">
        @if (Model.IconsCount < 9)
        {
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(model => model.GameId)
            @Html.HiddenFor(model => model.Icons)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
                <input asp-for="IconFile" class="form-control" type="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Game">Back to Game</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
