@model StartPoint.GameServer.Areas.BackOffice.Models.OfferViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Offer</h4>
<hr />
<div class="row">
    <div class="col-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <input asp-for="GameId" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VideoFile" class="control-label"></label>
                <input asp-for="VideoFile" class="form-control" type="file" />
                <span asp-validation-for="VideoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoURL" class="control-label"></label>
                <input asp-for="VideoURL" class="form-control" />
                <span asp-validation-for="VideoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo1" class="control-label"></label>
                <input asp-for="Photo1" class="form-control" type="file" />
                <span asp-validation-for="Photo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo2" class="control-label"></label>
                <input asp-for="Photo2" class="form-control" type="file" />
                <span asp-validation-for="Photo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo3" class="control-label"></label>
                <input asp-for="Photo3" class="form-control" type="file" />
                <span asp-validation-for="Photo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo4" class="control-label"></label>
                <input asp-for="Photo4" class="form-control" type="file" />
                <span asp-validation-for="Photo4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo5" class="control-label"></label>
                <input asp-for="Photo5" class="form-control" type="file" />
                <span asp-validation-for="Photo5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlotCode" class="control-label"></label>
                <input asp-for="SlotCode" class="form-control" />
                <span asp-validation-for="SlotCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-GameId="@Model.GameId">Back to Offer</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
